@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = null;
}










<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        @*<div class="page-header">
                                <div class="page-block">
                                    <div class="row align-items-center">
                                        <div class="col-md-12">
                                            <div class="page-header-title">
                                                <h5 class="m-b-10">Form Elements</h5>
                                            </div>
                                            <ul class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                                <li class="breadcrumb-item"><a href="#!">Form Components</a></li>
                                                <li class="breadcrumb-item"><a href="#!">Form Elements</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ form-element ] start -->
                            <div class="col-sm-12">
                                <div class="card">

                                    <div class="card-body">
                                        <h1>Size for Shirt form</h1>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <form  method="post">

                                                    <h4>extra Small</h4>

                                                    <div class="form-group">
                                                        <label for="collar">Waist</label>
                                                        <input type="text" class="form-control" name="xswaist" id="xswaist" placeholder="Enter waist size">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="chest">PantLength</label>
                                                        <input type="text" class="form-control" name="xspantlength" id="xspantlength" placeholder="Enter pant size">
                                                    </div>


                                                    <h4>Small</h4>

                                                    <div class="form-group">
                                                        <label for="collar">Waist</label>
                                                        <input type="text" class="form-control" name="swaist" id="swaist" placeholder="Enter waist size">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="chest">PantLength</label>
                                                        <input type="text" class="form-control" name="spantlength" id="spantlength" placeholder="Enter pant size">
                                                    </div>


                                                    <h4>Medium</h4>

                                                    <div class="form-group">
                                                        <label for="collar">Waist</label>
                                                        <input type="text" class="form-control" name="mwaist" id="mwaist" placeholder="Enter waist size">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="chest">PantLength</label>
                                                        <input type="text" class="form-control" name="mpantlength" id="mpantlength" placeholder="Enter pant size">
                                                    </div>

                                                    <h4>large</h4>

                                                    <div class="form-group">
                                                        <label for="collar">Waist</label>
                                                        <input type="text" class="form-control" name="lwaist" id="lwaist" placeholder="Enter waist size">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="chest">PantLength</label>
                                                        <input type="text" class="form-control" name="lpantlength" id="lpantlength" placeholder="Enter pant size">
                                                    </div>

                                                    <h4>Extra large</h4>

                                                    <div class="form-group">
                                                        <label for="collar">Waist</label>
                                                        <input type="text" class="form-control" name="xlwaist" id="xlwaist" placeholder="Enter waist size">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="chest">PantLength</label>
                                                        <input type="text" class="form-control" name="xlpantlength" id="xlpantlength" placeholder="Enter pant size">
                                                    </div>

                                                    <hr>
                                                    <h4>ChartName</h4>

                                                    <div class="form-group">
                                                        @*<label for="sizename">SizeName</label>*@
                                                        <input type="text" class="form-control" name="chartName" id="chartName" placeholder="Enter Chartname">
                                                    </div>
                                                    <h4>Unit</h4>
                                                    <div class="form-group">
                                                        <select name="unit" id="unit" class="form-control" require>
                                                            <option value="0">-- Please Select --</option>
                                                            <option value="1"> centimetre </option>
                                                            <option value="2"> inches </option>
                                                        </select>
                                                    </div>


                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>

                                        </div>







                                    </div>
                                </div>
                                <!-- Input group -->

                            </div>
                            <!-- [ form-element ] end -->
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
<!-- Warning Section start -->
<!-- Older IE warning message -->
<!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="../assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="../assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="../assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="../assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="../assets/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
<!-- Warning Section Ends -->
<!-- Required Js -->
<script>
    function CheckNull() {
        debugger
        if ($("#xswaist").val() == "") { document.getElementById('xswaist').style.borderColor = "red"; toastr.error('xswaist  required!'); } else { document.getElementById('xswaist').style.borderColor = "#ced4da"; }
        if ($("#xspantlength").val() == "") { document.getElementById('xspantlength').style.borderColor = "red"; toastr.error('xspantlength required!'); } else { document.getElementById('xspantlength').style.borderColor = "#ced4da"; }

        if ($("#swaist").val() == "") { document.getElementById('swaist').style.borderColor = "red"; toastr.error('swaist required!'); } else { document.getElementById('swaist').style.borderColor = "#ced4da"; }


        if ($("#spantlength").val() == "") { document.getElementById('spantlength').style.borderColor = "red"; toastr.error('spantlength Field  required!'); } else { document.getElementById('categoryid').style.borderColor = "#ced4da"; }

        if ($("#mwaist").val() == "") { document.getElementById('mwaist').style.borderColor = "red"; toastr.error('mwaist required!'); } else { document.getElementById('mwaist').style.borderColor = "#ced4da"; }


        if ($("#mpantlength").val() == "") { document.getElementById('mpantlength').style.borderColor = "red"; toastr.error('mpantlength Field  required!'); } else { document.getElementById('mpantlength').style.borderColor = "#ced4da"; }

        if ($("#lwaist").val() == "") { document.getElementById('lwaist').style.borderColor = "red"; toastr.error('lwaist required!'); } else { document.getElementById('lwaist').style.borderColor = "#ced4da"; }


        if ($("#lpantlength").val() == "") { document.getElementById('lpantlength').style.borderColor = "red"; toastr.error('lpantlength Field  required!'); } else { document.getElementById('lpantlength').style.borderColor = "#ced4da"; }

        if ($("#xlwaist").val() == "") { document.getElementById('xlwaist').style.borderColor = "red"; toastr.error('xlwaist required!'); } else { document.getElementById('xlwaist').style.borderColor = "#ced4da"; }


        if ($("#xlpantlength").val() == "") { document.getElementById('xlpantlength').style.borderColor = "red"; toastr.error('xpantlength Field  required!'); } else { document.getElementById('xlpantlength').style.borderColor = "#ced4da"; }

       



        if ($("#xswaist").val() == "" || $("#swaist").val() == "" || $("#mwaist").val() == "" || $("#lwaist").val() == ""
            || $("#xspantlength").val() == "" || $("#spantlength").val() == "" || $("#mpantlength").val() == "" || $("#lpantlength").val() == "" || $("#xlpantlength").val() == "")
        {
            debugger
            toastr.error('All Fields are required!');
            checkingNull = false;
            return false;
        }
        else {
            checkingNull = true;
            return true;
        }
    }
    $("form#data").submit(function (e) {
        debugger

        var ch = CheckNull();
        if (ch == false) {
            return false;
        }
        
        var formData = new FormData(this);


            //alert(email+mobile+cnic);
            $.ajax({
                url: '@Url.Action("addtblsizePantMale", "Create")',
                type: 'POST',
                data: formData,
                success: function (data) {
                    toastr.success('Successfully Submitted');
                },
                cache: false,
                contentType: false,
                processData: false
            });



    });




</script>