
@{
    ViewBag.Title = "viewtblsizeShirtFemale";
}



<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        @*<div class="page-header">
                                <div class="page-block">
                                    <div class="row align-items-center">
                                        <div class="col-md-12">
                                            <div class="page-header-title">
                                                <h5 class="m-b-10">Form Elements</h5>
                                            </div>
                                            <ul class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                                <li class="breadcrumb-item"><a href="#!">Form Components</a></li>
                                                <li class="breadcrumb-item"><a href="#!">Form Elements</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ form-element ] start -->
                            <div class="col-sm-12">
                                <div class="card">

                                    <div class="card-body">
                                        <h1>Size for Shirt form</h1>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <form id="data" method="post">

                                                    <h4>extra Small</h4>

                                                    <div class="form-group">
                                                        <label for="collar">Collar</label>
                                                        <input type="text" class="form-control" name="xsshoulder" id="xsshoulder" placeholder="Enter shoulder">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="chest">Chest</label>
                                                        <input type="text" class="form-control" name="xschest" id="xschest" placeholder="Enter chest">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sleevelength">Sleevelength</label>
                                                        <input type="text" class="form-control" name="xsarmhole" id="xsarmhole" placeholder="Enter armhole">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="shirtlength">Shirtlength</label>
                                                        <input type="text" class="form-control" name="xssleeveLength" id="xssleeveLength" placeholder="Enter sleeveLength">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">SizeName</label>
                                                        <input type="text" class="form-control" name="xsshirtLength" id="xsshirtLength" placeholder="Enter shirtLength">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">SizeName</label>
                                                        <input type="text" class="form-control" name="xssleeveopening" id="xssleeveopening" placeholder="Enter sleeveopening ">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">SizeName</label>
                                                        <input type="text" class="form-control" name="xsdaman" id="xsdaman" placeholder="Enter sizename size">
                                                    </div>

                                                    <h4>Small</h4>

                                                    <div class="form-group">
                                                        <label for="collar">houlder</label>
                                                        <input type="text" class="form-control" name="sshoulder" id="sshoulder" placeholder="Enter shoulder">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="chest">Chest</label>
                                                        <input type="text" class="form-control" name="schest" id="schest" placeholder="Enter chest">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sleevelength">armhole</label>
                                                        <input type="text" class="form-control" name="sarmhole" id="sarmhole" placeholder="Enter armhole">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="shirtlength">sleeveLength</label>
                                                        <input type="text" class="form-control" name="ssleeveLength" id="ssleeveLength" placeholder="Enter sleeveLength">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">shirtLength</label>
                                                        <input type="text" class="form-control" name="sshirtLength" id="sshirtLength" placeholder="Enter shirtLength">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">sleeveopening</label>
                                                        <input type="text" class="form-control" name="ssleeveopening" id="ssleeveopening" placeholder="Enter sleeveopening ">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">daman</label>
                                                        <input type="text" class="form-control" name="sdaman" id="sdaman" placeholder="Enter sizename size">
                                                    </div>


                                                    <h4>Medium</h4>

                                                    <div class="form-group">
                                                        <label for="collar">Shoulder</label>
                                                        <input type="text" class="form-control" name="mshoulder" id="mshoulder" placeholder="Enter shoulder">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="chest">Chest</label>
                                                        <input type="text" class="form-control" name="mchest" id="mchest" placeholder="Enter chest">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sleevelength">armhole</label>
                                                        <input type="text" class="form-control" name="marmhole" id="marmhole" placeholder="Enter armhole">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="shirtlength">Sleevelength</label>
                                                        <input type="text" class="form-control" name="msleeveLength" id="msleeveLength" placeholder="Enter sleeveLength">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">Shirtlength</label>
                                                        <input type="text" class="form-control" name="mshirtLength" id="mshirtLength" placeholder="Enter shirtLength">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">Sleeveopening</label>
                                                        <input type="text" class="form-control" name="msleeveopening" id="msleeveopening" placeholder="Enter sleeveopening ">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">Daman</label>
                                                        <input type="text" class="form-control" name="mdaman" id="mdaman" placeholder="Enter daman">
                                                    </div>

                                                    <h4>large</h4>

                                                    <div class="form-group">
                                                        <label for="collar">Shoulder</label>
                                                        <input type="text" class="form-control" name="lshoulder" id="lshoulder" placeholder="Enter shoulder">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="chest">Chest</label>
                                                        <input type="text" class="form-control" name="lchest" id="lchest" placeholder="Enter chest">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sleevelength">armhole</label>
                                                        <input type="text" class="form-control" name="larmhole" id="larmhole" placeholder="Enter armhole">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="shirtlength">Sleevelength</label>
                                                        <input type="text" class="form-control" name="lsleeveLength" id="lsleeveLength" placeholder="Enter sleeveLength">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">Shirtlength</label>
                                                        <input type="text" class="form-control" name="lshirtLength" id="lshirtLength" placeholder="Enter shirtLength">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">Sleeveopening</label>
                                                        <input type="text" class="form-control" name="lsleeveopening" id="lsleeveopening" placeholder="Enter sleeveopening ">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">Daman</label>
                                                        <input type="text" class="form-control" name="ldaman" id="ldaman" placeholder="Enter daman">
                                                    </div>

                                                    <h4>Extra large</h4>

                                                    <div class="form-group">
                                                        <label for="collar">Shoulder</label>
                                                        <input type="text" class="form-control" name="xlshoulder" id="xlshoulder" placeholder="Enter shoulder">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="chest">Chest</label>
                                                        <input type="text" class="form-control" name="xlchest" id="xlchest" placeholder="Enter chest">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sleevelength">armhole</label>
                                                        <input type="text" class="form-control" name="xlarmhole" id="xlarmhole" placeholder="Enter armhole">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="shirtlength">Sleevelength</label>
                                                        <input type="text" class="form-control" name="xlsleeveLength" id="xlsleeveLength" placeholder="Enter sleeveLength">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">Shirtlength</label>
                                                        <input type="text" class="form-control" name="xlshirtLength" id="xlshirtLength" placeholder="Enter shirtLength">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">Sleeveopening</label>
                                                        <input type="text" class="form-control" name="xlsleeveopening" id="xlsleeveopening" placeholder="Enter sleeveopening ">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sizename">Daman</label>
                                                        <input type="text" class="form-control" name="xldaman" id="xldaman" placeholder="Enter daman">
                                                    </div>

                                                    <hr>
                                                    <h4>ChartName</h4>

                                                    <div class="form-group">
                                                        @*<label for="sizename">SizeName</label>*@
                                                        <input type="text" class="form-control" name="chartName" id="chartName" placeholder="Enter Chartname">
                                                    </div>
                                                    <h4>Unit</h4>
                                                    <div class="form-group">
                                                        <select name="unitId" id="unitId" class="form-control" require>
                                                            <option value="0">-- Please Select --</option>
                                                            <option value="1"> centimetre </option>
                                                            <option value="2"> inches </option>
                                                        </select>
                                                    </div>


                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>

                                        </div>







                                    </div>
                                </div>
                                <!-- Input group -->

                            </div>
                            <!-- [ form-element ] end -->
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
<!-- Warning Section start -->
<!-- Older IE warning message -->
<!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="../assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="../assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="../assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="../assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="../assets/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
<!-- Warning Section Ends -->
<!-- Required Js -->


<script>
    function CheckNull() {
        debugger
        if ($("#xsshoulder").val() == "") { document.getElementById('xscollar').style.borderColor = "red"; toastr.error('xscollar  required!'); } else { document.getElementById('xscollar').style.borderColor = "#ced4da"; }
        if ($("#xschest").val() == "") { document.getElementById('xschest').style.borderColor = "red"; toastr.error('xschest required!'); } else { document.getElementById('xschest').style.borderColor = "#ced4da"; }
        if ($("#xssleeveLength").val() == "") { document.getElementById('xssleeveLength').style.borderColor = "red"; toastr.error('xssleeveLength required!'); } else { document.getElementById('xssleeveLength').style.borderColor = "#ced4da"; }
        if ($("#xsshirtLength").val() == "") { document.getElementById('xsshirtLength').style.borderColor = "red"; toastr.error('xsshirtLength Field  required!'); } else { document.getElementById('xsshirtLength').style.borderColor = "#ced4da"; }
        if ($("#xssleeveopening").val() == "") { document.getElementById('xssleeveopening').style.borderColor = "red"; toastr.error('xssleeveopening required!'); } else { document.getElementById('xssleeveopening').style.borderColor = "#ced4da"; }
        if ($("#xsdaman").val() == "") { document.getElementById('xsdaman').style.borderColor = "red"; toastr.error('xsdaman Field  required!'); } else { document.getElementById('xsdaman').style.borderColor = "#ced4da"; }
        if ($("#xsarmhole").val() == "") { document.getElementById('xsarmhole').style.borderColor = "red"; toastr.error('xsarmhole Field  required!'); } else { document.getElementById('xsarmhole').style.borderColor = "#ced4da"; }




        if ($("#sshoulder").val() == "") { document.getElementById('scollar').style.borderColor = "red"; toastr.error('scollar  required!'); } else { document.getElementById('scollar').style.borderColor = "#ced4da"; }
        if ($("#schest").val() == "") { document.getElementById('schest').style.borderColor = "red"; toastr.error('schest required!'); } else { document.getElementById('schest').style.borderColor = "#ced4da"; }
        if ($("#ssleeveLength").val() == "") { document.getElementById('ssleeveLength').style.borderColor = "red"; toastr.error('ssleeveLength required!'); } else { document.getElementById('ssleeveLength').style.borderColor = "#ced4da"; }
        if ($("#sshirtLength").val() == "") { document.getElementById('sshirtLength').style.borderColor = "red"; toastr.error('sshirtLength Field  required!'); } else { document.getElementById('sshirtLength').style.borderColor = "#ced4da"; }
        if ($("#ssleeveopening").val() == "") { document.getElementById('ssleeveopening').style.borderColor = "red"; toastr.error('ssleeveopening required!'); } else { document.getElementById('ssleeveopening').style.borderColor = "#ced4da"; }
        if ($("#sdaman").val() == "") { document.getElementById('sdaman').style.borderColor = "red"; toastr.error('sdaman Field  required!'); } else { document.getElementById('sdaman').style.borderColor = "#ced4da"; }
        if ($("#sarmhole").val() == "") { document.getElementById('sarmhole').style.borderColor = "red"; toastr.error('sarmhole Field  required!'); } else { document.getElementById('sarmhole').style.borderColor = "#ced4da"; }

        if ($("#mshoulder").val() == "") { document.getElementById('mcollar').style.borderColor = "red"; toastr.error('mcollar  required!'); } else { document.getElementById('mcollar').style.borderColor = "#ced4da"; }
        if ($("#mchest").val() == "") { document.getElementById('mchest').style.borderColor = "red"; toastr.error('mchest required!'); } else { document.getElementById('mchest').style.borderColor = "#ced4da"; }
        if ($("#msleeveLength").val() == "") { document.getElementById('msleeveLength').style.borderColor = "red"; toastr.error('msleeveLength required!'); } else { document.getElementById('msleeveLength').style.borderColor = "#ced4da"; }
        if ($("#mshirtLength").val() == "") { document.getElementById('mshirtLength').style.borderColor = "red"; toastr.error('mshirtLength Field  required!'); } else { document.getElementById('mshirtLength').style.borderColor = "#ced4da"; }
        if ($("#msleeveopening").val() == "") { document.getElementById('msleeveopening').style.borderColor = "red"; toastr.error('msleeveopening required!'); } else { document.getElementById('msleeveopening').style.borderColor = "#ced4da"; }
        if ($("#mdaman").val() == "") { document.getElementById('mdaman').style.borderColor = "red"; toastr.error('mdaman Field  required!'); } else { document.getElementById('mdaman').style.borderColor = "#ced4da"; }
        if ($("#marmhole").val() == "") { document.getElementById('marmhole').style.borderColor = "red"; toastr.error('marmhole Field  required!'); } else { document.getElementById('marmhole').style.borderColor = "#ced4da"; }

        if ($("#lshoulder").val() == "") { document.getElementById('lcollar').style.borderColor = "red"; toastr.error('lcollar  required!'); } else { document.getElementById('lcollar').style.borderColor = "#ced4da"; }
        if ($("#lchest").val() == "") { document.getElementById('lchest').style.borderColor = "red"; toastr.error('lchest required!'); } else { document.getElementById('lchest').style.borderColor = "#ced4da"; }
        if ($("#lsleeveLength").val() == "") { document.getElementById('lsleeveLength').style.borderColor = "red"; toastr.error('lsleeveLength required!'); } else { document.getElementById('lsleeveLength').style.borderColor = "#ced4da"; }
        if ($("#lshirtLength").val() == "") { document.getElementById('lshirtLength').style.borderColor = "red"; toastr.error('lshirtLength Field  required!'); } else { document.getElementById('lshirtLength').style.borderColor = "#ced4da"; }
        if ($("#lsleeveopening").val() == "") { document.getElementById('lsleeveopening').style.borderColor = "red"; toastr.error('lsleeveopening required!'); } else { document.getElementById('lsleeveopening').style.borderColor = "#ced4da"; }
        if ($("#ldaman").val() == "") { document.getElementById('ldaman').style.borderColor = "red"; toastr.error('ldaman Field  required!'); } else { document.getElementById('ldaman').style.borderColor = "#ced4da"; }
        if ($("#larmhole").val() == "") { document.getElementById('larmhole').style.borderColor = "red"; toastr.error('larmhole Field  required!'); } else { document.getElementById('larmhole').style.borderColor = "#ced4da"; }

        if ($("#xlshoulder").val() == "") { document.getElementById('xxlcollar').style.borderColor = "red"; toastr.error('xlcollar  required!'); } else { document.getElementById('xlcollar').style.borderColor = "#ced4da"; }
        if ($("#xlchest").val() == "") { document.getElementById('xlchest').style.borderColor = "red"; toastr.error('xlchest required!'); } else { document.getElementById('xlchest').style.borderColor = "#ced4da"; }
        if ($("#xlsleeveLength").val() == "") { document.getElementById('xlsleeveLength').style.borderColor = "red"; toastr.error('xlsleeveLength required!'); } else { document.getElementById('xlsleeveLength').style.borderColor = "#ced4da"; }
        if ($("#xlshirtLength").val() == "") { document.getElementById('xlshirtLength').style.borderColor = "red"; toastr.error('xlshirtLength Field  required!'); } else { document.getElementById('xlshirtLength').style.borderColor = "#ced4da"; }
        if ($("#xlsleeveopening").val() == "") { document.getElementById('xlsleeveopening').style.borderColor = "red"; toastr.error('xlsleeveopening required!'); } else { document.getElementById('xlsleeveopening').style.borderColor = "#ced4da"; }
        if ($("#xldaman").val() == "") { document.getElementById('xldaman').style.borderColor = "red"; toastr.error('xldaman Field  required!'); } else { document.getElementById('xldaman').style.borderColor = "#ced4da"; }
        if ($("#xlarmhole").val() == "") { document.getElementById('xlarmhole').style.borderColor = "red"; toastr.error('xlarmhole Field  required!'); } else { document.getElementById('xlarmhole').style.borderColor = "#ced4da"; }


        if ($("#xsshoulder").val() == "" || $("#sshoulder").val() == "" || $("#mshoulder").val() == "" || $("#lshoulder").val() == ""
            || $("#xlshoulder").val() == "" || $("#xschest").val() == "" || $("#schest").val() == "" || $("#mchest").val() == "" || $("#lchest").val() == ""
            || $("#xlchest").val() == "" || $("#xssleevelength").val() == "" || $("#ssleevelength").val() == "" || $("#msleevelength").val() == ""
            || $("#lsleevelength").val() == "" || $("#xlsleevelength").val() == "" || $("#xsshirtlength").val() == "" || $("#sshirtlength").val() == "" || $("#mshirtlength").val() == ""
            || $("#lsleevelength").val() == "" || $("#xlsleevelength").val() == ""
            || $("#xsarmhole").val() == "" || $("#sarmhole").val() == "" || $("#marmhole").val() == "" || $("#larmhole").val() == ""
            || $("#xlarmhole").val() == ""

        )
        {
            debugger
            toastr.error('All Fields are required!');
            checkingNull = false;
            return false;
        }
        else {
            checkingNull = true;
            return true;
        }
    }
    $("form#data").submit(function (e) {
        debugger

        var ch = CheckNull();
        if (ch == false) {
            return false;
        }

        var formData = new FormData(this);


            //alert(email+mobile+cnic);
            $.ajax({
                url: '@Url.Action("addtblsizeShirtFemale","Create")',
                type: 'POST',
                data: formData,
                success: function (data) {
                    toastr.success('Successfully Submitted');
                },
                cache: false,
                contentType: false,
                processData: false
            });



    });




</script>